Repository COS301-SE-2024/GDPR-data-noncompliance-detector, pull requests merged in 2024-09, with the labels that each got.

#201 Feature/genome finder
  backend/Detection_Engine/EM_model_access.py
  backend/Detection_Engine/GDPR_model_access.py
  backend/Detection_Engine/create_GF_model.py
  backend/Detection_Engine/detection_engine.py
  backend/Detection_Engine/report_generation_layer.py
  backend/Model_data/genetic_data_train.csv
  backend/backend_entry_int_test.py
  gnd-app/package-lock.json
Labels: integration, report generation

#202 Electron Fix
  gnd-app/package-lock.json
  gnd-app/package.json
  requirements.txt
Labels: deployment

#206 Frontend/editing faq page
  gnd-app/src/app/faq-page/faq-page.component.css
  gnd-app/src/app/faq-page/faq-page.component.html
  gnd-app/src/app/faq-page/faq-page.component.ts
Labels: frontend

#224 Storing reports
  gnd-admin/src/app/app.module.ts
  gnd-admin/src/app/login/login.component.html
  gnd-admin/src/app/register/register.component.css
  gnd-admin/src/app/register/register.component.html
  gnd-admin/src/app/register/register.component.ts
  gnd-admin/src/app/terms/terms.component.css
  gnd-admin/src/app/terms/terms.component.html
  gnd-admin/src/app/terms/terms.component.ts
Labels: integration, API, database, GND web

#225 All done. Tests are the remaining thing now
  gnd-admin/src/app/app.component.ts
  gnd-admin/src/app/app.routes.ts
  gnd-admin/src/app/home/home.component.ts
  gnd-admin/src/app/services/auth.guard.spec.ts
  gnd-admin/src/app/services/auth.guard.ts
  gnd-admin/src/app/services/auth.service.ts
  gnd-admin/src/styles.css
Labels: integration, deployment, GND web, styling

#236 Webapp testing
  .github/workflows/lint-tests.yaml
  gnd-admin/src/app/app.component.spec.ts
  gnd-admin/src/app/home/home.component.spec.ts
  gnd-admin/src/app/landing/landing.component.spec.ts
  gnd-admin/src/app/login/login.component.spec.ts
  gnd-admin/src/app/register/register.component.spec.ts
  gnd-admin/src/app/services/auth.guard.spec.ts
  gnd-admin/src/app/services/auth.service.spec.ts
  gnd-admin/src/app/terms/terms.component.spec.ts
  gnd-admin/src/environments/environment.prod.ts
  gnd-admin/src/environments/environment.testing.ts
  gnd-admin/src/environments/environment.ts
  gnd-admin/tsconfig.spec.json
  gnd-admin/webpack.config.js
Labels: deployment, database, GND web

#230 Update visualization.component.spec.ts
  gnd-app/src/app/visualization/visualization.component.spec.ts
Labels: unit test, frontend
